<h1><%= @event.name %></h1>

<h4>
  Topic: <%= link_to @topic.name, topic_path(@topic) %><br>
  Location: <%= @event.location %><br>
  Date: <%= @event.date %>
</h4>

<p><%= @event.description %></p>
