<!DOCTYPE html>
<html>
  <head>
    <title>Meetups In Space - Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="top-bar">
      <div class="container">
        <a class="logo" href="/">Meetups in Space</a>

        <ul class="top-bar-section">
          <%= render "layouts/flash" %>
        </ul>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
